@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Root */

:root {
    --primary-color: #1ABC9C;
    --secondary-color: #101010;
    --primary-font: 'Poppins', sans-serif;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
    font-size: 18px;
}

/* CSS Reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul, li {
    list-style: none;
}

body {
    color: #fff;
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
}


/*------------------------------------*\
  #COMMON CSS
\*------------------------------------*/
.brand-bg {
    background-color: var(--secondary-color);
}

.brand-color {
    color: var(--primary-color);
}

/* Custom container */
/* .container {
    padding: 0 30px;
}


@media (min-width: 1400px) {
    .container{
        padding: 0 90px;
    }
}

@media (min-width: 1400px) {
    .container{
        max-width: 1920px;
    }
} */

.custom-container {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 1500px) {
    .custom-container{
        width: 95%;
        max-width: 1920px;
        margin: 0 auto;
    }
}


/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

.nav {
    background-color: transparent;
    background-color: rgba(16,16,16,0.5);
    position: sticky;
    top: 0;
    z-index: 99;
}

.nav .nav__container {
    height: auto;
    min-height: 80px;
    position: relative;
}

.nav .logo {
    height: 20px;
}

.nav .nav__icon {
   color: #fff;
   position: absolute;
   right: 30px;
}

.nav .nav__icon .icon {
    height: 40px; 
    width: 40px; 
    color: #fff;
}

@media screen and (min-width: 540px) {
    .nav .nav__icon {
        color: #fff;
        position: absolute;
        right: 55px;
     }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #101010;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay .overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.8rem;
    color: #fff;
    display: inline-block;
    transition: all 0.3s ease;
    font-weight: 600;
  }

  .overlay .overlay-content li a:hover {
    color: var(--primary-color);
    transform: scale(1.1);
  }

  .overlay a .close__icon {
    color: var(--primary-color);
    height: 40px;
    width: 40px;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

/*------------------------------------*\
  #HERO SECTION
\*------------------------------------*/
.hero-section {
    margin-top: -80px;
}

.hero {
    padding: 5rem 0 3rem 0;
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 10rem 0;
    }
 }


.hero .title {
    font-size: calc(18px + (48 - 18) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
    font-weight: 600;
}


.hero h2 {
    font-size: calc(36px + (96 - 36) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
    font-weight: 600;
}

.hero .des {
    font-size: calc(18px + (48 - 18) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
    font-weight: 600;
}

/*------------------------------------*\
  #BG WAVE SECTION
\*------------------------------------*/
.bg-wave .img1 {
    display: none;
}

.bg-wave .img2 {
    display: block;
}

@media screen and (min-width: 1650px) {
    .bg-wave .img1 {
        display: block;
    }
    .bg-wave .img2 {
        display: none;
    }
}

/*------------------------------------*\
  #SERVICE SECTION
\*------------------------------------*/
.service .header h2 {
    font-size: calc(28px + (46 - 28) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
    font-weight: 600;
}

.service .header p {
    font-size: calc(18px + (36 - 18) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
    font-weight: 400;
    padding: 1.5rem 0;
    max-width: 850px;
}

.service .header h3 {
    font-size: calc(24px + (42 - 24) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
    font-weight: 600;
    color: var(--primary-color);
}

.service .service__items .icon {
   font-size: 2rem;
}

.service .service__items p {
   font-size: 1.2rem;
   font-weight: 500;
   margin-top: 1rem;
}

/*------------------------------------*\
  #SHOWCASE SECTION
\*------------------------------------*/
.header-section h2 {
    font-size: calc(28px + (46 - 28) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
    font-weight: 600;
}
.header-section p {
    font-size: 0.9rem;
    font-weight: 200;
    margin-top: 1rem;
}

.showcase .showcase__caption p {
    font-size: calc(16px + (24 - 16) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
    font-weight: 600;
}

/*------------------------------------*\
  #SUCCESS SECTION
\*------------------------------------*/

.success .img-container {
    width: 100%;
    padding-top: 150%;
}

.success .fig-info-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    transition: all 0.5s ease;
}

.success .fig-info-container .fig-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

.success .fig-info-container .fig-info h4 {
   font-weight: 600;
   font-size: calc(16.0px + (18 - 16.0) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
}

.success .fig-info-container .fig-info h3 {
   font-weight: 600;
   font-size: calc(18px + (35 - 18) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
   padding: 1rem 0;
}

.success .fig-info-container .fig-info .hiding-info {
   display: none;
   height: 0;
   transition: all 0.5s ease;
}

.success .img-container:hover .fig-info-container {
    background-color: rgba(0, 0, 0, 0);
}

.success .img-container:hover .fig-info-container .fig-info .hiding-info {
   display: block;
   height: auto;
}

/*------------------------------------*\
  #PARTNERSHIP SECTION
\*------------------------------------*/
.partnership {
    padding: 10rem 0;
}
.partnership .partnership-left p{
    font-size: 0.8rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
   .partnership {
        padding: 5rem 0;
   }
}

@media screen and (min-width: 768px) {
    .partnership .partnership-left p{
        width: 70%;
    }
}

/*------------------------------------*\
  #FOOTER SECTION
\*------------------------------------*/

.footer p {
    font-size: .8rem;
}

.footer ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: all 0.5s ease;
}

.footer ul li a:hover {
    color: gray;
}

.footer .copyright {
    font-size: 0.8rem;
    padding: 1.5rem 0;
    font-weight: 200;
}

/*------------------------------------*\
  #BACK TO TOP BUTTON
\*------------------------------------*/

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#back-to-top .back-to-top-btn {
   width: 2.5rem;
   height: 2.5rem;
   background-color:rgba(255, 255, 255, 0.3);
}