@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color: #1ABC9C;
  --secondary-color: #FFFFFF;
  --dark: #101010;
  --primary-font: "Poppins", sans-serif;
  --minViewportSize: 320;
  --maxViewportSize: 1920;
  font-size: 16px;
}

body {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  background-color: var(--dark);
}

/* CSS Reset */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
li {
  list-style: none;
}

/*------------------------------------*\
  #COMMON CSS
\*------------------------------------*/
.brand-bg {
  padding: 4rem 0 8rem 0;
  background-color: var(--primary-color);
}

.brand-color {
  color: var(--primary-color);
}

.custom-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 48px;
}

@media screen and (min-width: 768px) {
  .custom-container {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1500px) {
  .custom-container {
    max-width: 1920px;
    margin: 0 auto;
  }
}
/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/
.nav {
  background-color: transparent;
  background-color: var(--dark);
  position: sticky;
  top: 0;
  z-index: 99;
}
.nav .nav__container {
  height: auto;
  min-height: 80px;
  position: relative;
}
.nav .logo {
  height: 20px;
}
.nav .nav__icon {
  color: #fff;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.nav .nav__icon .icon {
  height: 40px;
  width: 40px;
  color: #fff;
}

@media screen and (min-width: 540px) {
  .nav .nav__icon {
    color: #fff;
    position: absolute;
    right: 0;
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #101010;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay .overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  display: inline-block;
  transition: all 0.3s ease;
  font-weight: 600;
}

.overlay .overlay-content li a:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

.overlay a .close__icon {
  color: var(--primary-color);
  height: 40px;
  width: 40px;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*------------------------------------*\
  #HERO SECTION
\*------------------------------------*/
.hero-section {
  margin-top: -80px;
}

.hero {
  padding: 6rem 0;
}
.hero .title {
  font-size: 1.5rem;
  font-weight: 600;
}
.hero h2 {
  font-size: 3.75rem;
  font-weight: 600;
}
.hero .des {
  font-size: 2.5rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 7rem 0 4rem 0;
  }
  .hero .title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .hero h2 {
    font-size: 3.5rem;
    font-weight: 600;
  }
  .hero .des {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
/*------------------------------------*\
  #BACKGROUND SECTION
\*------------------------------------*/
@media screen and (max-width: 768px) {
  .bg-wave {
    margin: 4rem 0 10rem 0;
  }
}
/*------------------------------------*\
  #SERVICE SECTION
\*------------------------------------*/
.service-section {
  padding-bottom: 6rem;
}

.service .title {
  font-size: 3.75rem;
  font-weight: 600;
}
.service .quote {
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  display: inline-block;
}
.service .quote .quote-left {
  color: rgba(255, 255, 255, 0.09);
  font-size: 4rem;
  left: 0;
  position: absolute;
  top: -40px;
}
.service .quote .quote-right {
  color: rgba(255, 255, 255, 0.09);
  font-size: 4rem;
  position: absolute;
  bottom: -40px;
  right: 0;
}
.service .author {
  font-size: 2.5rem;
  font-weight: 600;
}
.service .description {
  font-size: 1.75rem;
  font-weight: 500;
}
.service .service-items .item {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}
.service .service-items .item .icon {
  height: 3rem;
}

@media screen and (max-width: 1200px) {
  .service .title {
    font-size: 3rem;
  }
  .service .quote {
    font-size: 1.75rem;
  }
  .service .quote .quote-left {
    font-size: 3rem;
    top: -30px;
  }
  .service .quote .quote-right {
    font-size: 3rem;
    bottom: -30px;
  }
  .service .author {
    font-size: 2rem;
  }
  .service .description {
    font-size: 1.5rem;
  }
  .service .service-items .item {
    font-size: 1.5rem;
  }
  .service .service-items .item .icon {
    height: 2.75rem;
  }
}
@media screen and (max-width: 768px) {
  .service-section {
    padding-bottom: 2rem;
  }
  .service .title {
    font-size: 2.75rem;
  }
  .service .quote {
    font-size: 1.5rem;
  }
  .service .quote .quote-left {
    font-size: 3rem;
    top: -7px;
  }
  .service .quote .quote-right {
    font-size: 2.5rem;
    bottom: -20px;
  }
  .service .author {
    font-size: 2rem;
  }
  .service .description {
    font-size: 1.25rem;
  }
  .service .service-items .item {
    font-size: 1rem;
    background-color: rgb(42, 42, 42);
    padding: 0.5rem 1rem;
    color: var(--secondary-color);
  }
  .service .service-items .item .icon {
    height: 2.75rem;
  }
}
/*------------------------------------*\
  #PROJECT SECTION
\*------------------------------------*/
.projects {
  --gap: 4rem;
  --item-height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  width: 100%;
  margin-bottom: calc(20% + var(--gap) / 2);
  padding-bottom: calc(var(--item-height) / 2 + var(--gap) / 2);
}
.projects .item {
  height: var(--item-height/2);
}
.projects .item .caption {
  font-size: 1.75rem;
  font-weight: 600;
}
.projects .item .tag {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 600;
}
.projects .item .view-item {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 600;
  display: block;
  transition: all 0.5s ease;
}
.projects .item .view-item:hover {
  color: var(--secondary-color);
}
.projects .item:nth-of-type(even) {
  transform: translateY(calc(35% + var(--gap) / 2));
  text-align: end;
}
.projects .item:nth-of-type(even) .view-item {
  justify-content: end;
}

.view-more {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
  display: block;
  transition: all 0.2s ease;
  text-decoration: none;
}
.view-more:hover {
  color: #fff;
}

@media screen and (max-width: 992px) {
  .projects {
    --gap: 2rem;
    --item-height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    width: 100%;
    margin-bottom: calc(20% + var(--gap) / 2);
    padding-bottom: calc(var(--item-height) / 2 + var(--gap) / 2);
  }
  .projects .item {
    height: var(--item-height/2);
  }
  .projects .item .caption {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .projects .item .tag {
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 600;
  }
  .projects .item .view-item {
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 600;
    display: block;
    transition: all 0.5s ease;
  }
  .projects .item .view-item:hover {
    color: var(--secondary-color);
  }
  .projects .item:nth-of-type(even) {
    transform: translateY(calc(35% + var(--gap) / 2));
    text-align: end;
  }
  .projects .item:nth-of-type(even) .view-item {
    justify-content: end;
  }
}
@media screen and (max-width: 768px) {
  .projects {
    --gap: 2rem;
    --item-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
  }
  .projects .item {
    height: var(--item-height/2);
  }
  .projects .item .caption {
    font-size: 1.5rem;
  }
  .projects .item .tag {
    font-size: 1rem;
  }
  .projects .item .view-item {
    font-size: 1rem;
  }
  .projects .item:nth-of-type(even) {
    transform: translateY(0);
  }
}
/*------------------------------------*\
  #TEAM
\*------------------------------------*/
.team .title {
  font-weight: 800;
  font-size: 3rem;
  color: var(--secondary-color);
}
.team .slider-container {
  position: relative;
}
.team .slider-container .slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.team .slider-container .slider-btn .custom-prev {
  height: 2rem;
  width: 2rem;
  background-color: rgba(16, 16, 16, 0.3);
  cursor: pointer;
}
.team .slider-container .slider-btn .custom-next {
  height: 2rem;
  width: 2rem;
  background-color: rgba(16, 16, 16, 0.3);
  cursor: pointer;
}
.team .slider-container .team-member .img-container {
  width: 100%;
  padding-top: 120%;
  background-color: #343535;
  position: relative;
  transition: all 0.5s ease;
}
.team .slider-container .team-member .img-container img {
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.team .slider-container .team-member .img-container .about {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: rgba(16, 16, 16, 0.2);
  opacity: 0;
  transition: all 0.2s ease;
}
.team .slider-container .team-member .img-container .about .name {
  font-size: 2rem;
  font-weight: 600;
}
.team .slider-container .team-member .img-container .about .designation {
  font-size: 1.2rem;
  font-weight: 300;
}
.team .slider-container .team-member .img-container .about .email {
  font-size: 1.2rem;
  font-weight: 300;
}
.team .slider-container .team-member .slider-btn {
  position: absolute;
  top: 50%;
}
.team .slider-center {
  max-width: 100%;
}
.team .slick-center .img-container {
  width: 100%;
  padding-top: 110%;
  background-color: #444343;
  position: relative;
  background-image: url(../assets/team-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: scale(1.1);
}
.team .slick-center .img-container .about {
  opacity: 1 !important;
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  .team .title {
    font-weight: 600;
    font-size: 2rem;
  }
  .team .team-member .img-container .about .name {
    font-size: 1.25rem !important;
    font-weight: 500;
  }
  .team .team-member .img-container .about .designation {
    font-size: 0.8rem;
    font-weight: 300;
  }
  .team .team-member .img-container .about .email {
    font-size: 0.8rem;
    font-weight: 300;
  }
}
/*------------------------------------*\
  #CLIENT
\*------------------------------------*/
.client-bg {
  background-color: #fff;
  background-image: url(../assets/client-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.client {
  padding: 10rem 0;
}
.client .title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #929292;
  text-transform: uppercase;
}
.client .sub-title {
  margin-top: 1.5rem;
  font-size: 2.75rem;
  font-weight: 800;
  color: var(--primary-color);
}
.client .description {
  margin-top: 2.5rem;
  font-size: 2.25rem;
  font-weight: 500;
  color: #244459;
}
.client .contact-us {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #244459;
  font-weight: 600;
}
.client .logo-container {
  border: 1px solid #DADADA;
  width: 10rem;
  height: 10rem;
}
.client .logo-container .client-logo img {
  filter: grayscale(100%);
  transition: all 0.3s ease;
  max-width: 100%;
  height: 70px;
}
.client .logo-container .client-logo .logo-caption {
  color: #244459;
  font-size: 0.75rem;
  display: none;
  opacity: 0;
  transition: all 0.2s ease;
}
.client .logo-container:hover .client-logo img {
  filter: grayscale(0);
  transition: all 0.2s ease;
}
.client .logo-container:hover .client-logo .logo-caption {
  display: block;
  opacity: 1;
}

@media screen and (max-width: 576px) {
  .client {
    padding: 5rem 0;
  }
  .client .title {
    font-size: 1rem;
  }
  .client .sub-title {
    font-size: 2.25rem;
  }
  .client .description {
    font-size: 1.5rem;
  }
  .client .contact-us {
    font-size: 1.25rem;
  }
  .client .logo-container {
    border: 1px solid #DADADA;
    width: 6.5rem;
    height: 6.5rem;
  }
  .client .logo-container .client-logo img {
    filter: grayscale(100%);
    transition: all 0.3s ease;
    height: 2.5rem;
  }
  .client .logo-container .client-logo .logo-caption {
    color: #244459;
    font-size: 0.75rem;
    display: none;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .client .logo-container:hover .client-logo img {
    filter: grayscale(0);
    transition: all 0.2s ease;
  }
  .client .logo-container:hover .client-logo .logo-caption {
    display: block;
    opacity: 1;
  }
}
/*------------------------------------*\
  #CONTACT US
\*------------------------------------*/
.contact-bg {
  padding: 5rem 0;
  background-image: url(../assets/contact-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.contact {
  background-color: rgba(28, 28, 28, 0.9);
  padding: 5rem;
  border-radius: 2rem;
}
.contact .contact-text .title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary-color);
  text-transform: uppercase;
}
.contact .contact-text .sub-title {
  margin-top: 1.5rem;
  font-size: 2.75rem;
  font-weight: 800;
  color: var(--primary-color);
}
.contact .contact-text .description {
  margin-top: 2.5rem;
  font-size: 2.25rem;
  font-weight: 500;
  color: var(--secondary-color);
}
.contact .contact-form .title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}
.contact .contact-form ::placeholder {
  color: #244459;
}
.contact .contact-form .send-btn {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
}
.contact .contact-form textarea {
  min-height: 15rem;
}

@media screen and (max-width: 576px) {
  .contact {
    padding: 1rem;
    border-radius: 1.5rem;
  }
  .contact .contact-text .description {
    margin-top: 2.5rem;
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--secondary-color);
  }
  .contact .contact-form .title {
    font-size: 1.75rem;
  }
  .contact .contact-form .send-btn {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
  }
}
/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
.footer {
  padding-top: 5rem;
}
.footer ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.75rem;
  font-weight: 600;
  transition: all 0.2s ease;
}
.footer ul li a:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}
.footer .logo {
  height: 60px;
  max-width: 100%;
}
.footer .address p {
  font-size: 1.25rem;
  font-weight: 600;
}
.footer .address .social-icon {
  text-decoration: none;
  color: var(--secondary-color);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--primary-color);
}
.footer .copyright {
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .footer {
    padding-top: 0;
  }
  .footer ul li a {
    font-size: 1.25rem;
  }
  .footer .logo {
    height: 45px;
  }
  .footer .address p {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .footer .address .social-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--primary-color);
  }
}
/*------------------------------------*\
  #BACK TO TOP BUTTON
\*------------------------------------*/
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  color: var(--dark);
  transition: opacity 0.5s ease-in-out;
}

#back-to-top .back-to-top-btn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.3);
}

/*------------------------------------*\
  #ALL WORKS PAGES
\*------------------------------------*/
.project-all .item {
  margin-bottom: 8rem;
}
.project-all .item img {
  height: 25rem;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.project-all .item .caption {
  font-size: 1.75rem;
  font-weight: 600;
}
.project-all .item .tag {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 600;
}
.project-all .item .description {
  font-size: 1.2rem;
}
.project-all .item .view-item {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 600;
  display: block;
  transition: all 0.5s ease;
}
.project-all .item .view-item:hover {
  color: var(--secondary-color);
}
.project-all .item:nth-of-type(even) {
  transform: translateY(calc(35% + var(--gap) / 2));
  text-align: end;
}
.project-all .item:nth-of-type(even) .view-item {
  justify-content: end;
}

/*------------------------------------*\
  # WORK DETAILS PAGE
\*------------------------------------*/
.work-details .view-all {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 600;
  display: block;
  text-decoration: none;
}
.work-details .view-all:hover {
  color: var(--secondary-color);
}
.work-details .heading {
  font-size: 3rem;
  font-weight: 600;
}
.work-details .tag {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 600;
}
.work-details .date {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 600;
}
.work-details .description p {
  font-size: 1.2rem;
  font-weight: 500;
}
.work-details .side-link {
  font-size: 1.2rem;
}
.work-details .side-link a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .work-details .heading {
    font-size: 2rem;
  }
  .work-details .tag {
    font-size: 1rem;
  }
  .work-details .date {
    font-size: 1rem;
  }
}
/*------------------------------------*\
  # OBJECTIVE
\*------------------------------------*/
.objectives .title {
  font-size: 3.75rem;
  font-weight: 600;
}
.objectives .sub-title {
  font-size: 1.75rem;
  font-weight: 600;
}
.objectives .description {
  font-size: 1.2rem;
  font-weight: 500;
}
.objectives .gallery .img-01 {
  width: 100%;
  padding-top: 65%;
  background-color: #ffa7a7;
  border-radius: 10px;
  position: relative;
}
.objectives .gallery .img-01 img {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.objectives .gallery .img-02 {
  width: 100%;
  padding-top: 50%;
  background-color: #ffa7a7;
  border-radius: 10px;
  position: relative;
}
.objectives .gallery .img-02 img {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .objectives .title {
    font-size: 2.5rem;
  }
  .objectives .sub-title {
    font-size: 1.5rem;
  }
  .objectives .description {
    font-size: 1.2rem;
  }
}
/*------------------------------------*\
  # OTHER WORKS
\*------------------------------------*/
.other-works .title {
  font-size: 2.75rem;
  font-weight: 600;
}
.other-works .sub-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--primary-color);
}
.other-works .item .caption {
  font-size: 1.75rem;
  font-weight: 600;
}
.other-works .item .tag {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 600;
}
.other-works .item .view-item {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 600;
  display: block;
  transition: all 0.5s ease;
}
.other-works .item .view-item:hover {
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .other-works .title {
    font-size: 2rem;
  }
  .other-works .sub-title {
    font-size: 1.25rem;
  }
  .other-works .item .caption {
    font-size: 1.25rem;
  }
  .other-works .item .tag {
    font-size: 1rem;
  }
  .other-works .item .view-item {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
