@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #1ABC9C;
    --secondary-color: #FFFFFF;
    --dark: #101010;
    --primary-font: 'Poppins', sans-serif;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
    font-size: 16px;
}

body {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    background-color: var(--dark);
}

/* CSS Reset */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul,
li {
    list-style: none;
}

/*------------------------------------*\
  #COMMON CSS
\*------------------------------------*/
.brand-bg {
    padding: 4rem 0 8rem 0;
    background-color: var(--primary-color);
}

.brand-color {
    color: var(--primary-color);
}

.custom-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 48px;
}

@media screen and (min-width: 768px) {
    .custom-container {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1500px) {
    .custom-container {
        max-width: 1920px;
        margin: 0 auto;
    }
}


/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

.nav {
    background-color: transparent;
    background-color: var(--dark);
    position: sticky;
    top: 0;
    z-index: 99;

    .nav__container {
        height: auto;
        min-height: 80px;
        position: relative;
    }

    .logo {
        height: 20px;
    }

    .nav__icon {
        color: #fff;
        position: absolute;
        right: 0;
        cursor: pointer;
    }

    .nav__icon .icon {
        height: 40px;
        width: 40px;
        color: #fff;
    }
}

@media screen and (min-width: 540px) {
    .nav .nav__icon {
        color: #fff;
        position: absolute;
        right: 0;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #101010;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay .overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.8rem;
    color: #fff;
    display: inline-block;
    transition: all 0.3s ease;
    font-weight: 600;
}

.overlay .overlay-content li a:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

.overlay a .close__icon {
    color: var(--primary-color);
    height: 40px;
    width: 40px;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*------------------------------------*\
  #HERO SECTION
\*------------------------------------*/
.hero-section {
    margin-top: -80px;
}



.hero {
    padding: 6rem 0;

    .title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    h2 {
        font-size: 3.75rem;
        font-weight: 600;
    }

    .des {
        font-size: 2.5rem;
        font-weight: 600;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        padding: 7rem 0 4rem 0;

        .title {
            font-size: 1.5rem;
            font-weight: 600;
        }

        h2 {
            font-size: 3.5rem;
            font-weight: 600;
        }

        .des {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

/*------------------------------------*\
  #BACKGROUND SECTION
\*------------------------------------*/

@media screen and (max-width: 768px) {
    .bg-wave {
        margin: 4rem 0 10rem 0;
    }
}





/*------------------------------------*\
  #SERVICE SECTION
\*------------------------------------*/
.service-section {
    padding-bottom: 6rem;
}

.service {
    .title {
        font-size: 3.75rem;
        font-weight: 600;
    }

    .quote {
        font-size: 2rem;
        font-weight: 600;
        position: relative;
        display: inline-block;

        .quote-left {
            color: rgba(255, 255, 255, 0.09);
            font-size: 4rem;
            left: 0;
            position: absolute;
            top: -40px;
        }

        .quote-right {
            color: rgba(255, 255, 255, 0.09);
            font-size: 4rem;
            position: absolute;
            bottom: -40px;
            right: 0;
        }
    }

    .author {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .description {
        font-size: 1.75rem;
        font-weight: 500;
    }

    .service-items {
        .item {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--primary-color);

            .icon {
                height: 3rem;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .service {
        .title {
            font-size: 3rem;
        }

        .quote {
            font-size: 1.75rem;

            .quote-left {
                font-size: 3rem;
                top: -30px;
            }

            .quote-right {
                font-size: 3rem;
                bottom: -30px;
            }
        }

        .author {
            font-size: 2rem;
        }

        .description {
            font-size: 1.5rem;
        }

        .service-items {
            .item {
                font-size: 1.5rem;

                .icon {
                    height: 2.75rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .service-section {
        padding-bottom: 2rem;
    }

    .service {
        .title {
            font-size: 2.75rem;
        }

        .quote {
            font-size: 1.5rem;

            .quote-left {
                font-size: 3rem;
                top: -7px;
            }

            .quote-right {
                font-size: 2.5rem;
                bottom: -20px;
            }
        }

        .author {
            font-size: 2rem;
        }

        .description {
            font-size: 1.25rem;
        }

        .service-items {
            .item {
                font-size: 1rem;
                background-color: rgba(42, 42, 42, 1);
                padding: 0.5rem 1rem;
                color: var(--secondary-color);

                .icon {
                    height: 2.75rem;
                }
            }
        }
    }
}




/*------------------------------------*\
  #PROJECT SECTION
\*------------------------------------*/

.projects {
    --gap: 4rem;
    --item-height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    width: 100%;
    margin-bottom: calc(20% + var(--gap) / 2);
    padding-bottom: calc(var(--item-height) / 2 + var(--gap) / 2);

    .item {
        height: var(--item-height/2);

        .caption {
            font-size: 1.75rem;
            font-weight: 600;
        }

        .tag {
            font-size: 1.2rem;
            color: var(--primary-color);
            font-weight: 600;
        }

        .view-item {
            font-size: 1.2rem;
            color: var(--primary-color);
            font-weight: 600;
            display: block;
            transition: all 0.5s ease;
            &:hover {
                color: var(--secondary-color);
            }
        }
    }

    .item:nth-of-type(even) {
        transform: translateY(calc(35% + var(--gap) / 2));
        text-align: end;

        .view-item {
            justify-content: end;
        }
    }
}

.view-more {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 600;
    display: block;
    transition: all 0.2s ease;
    text-decoration: none;

    &:hover {
        color: #fff;
    }
}



@media screen and (max-width: 992px) {
    .projects {
        --gap: 2rem;
        --item-height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap);
        width: 100%;
        margin-bottom: calc(20% + var(--gap) / 2);
        padding-bottom: calc(var(--item-height) / 2 + var(--gap) / 2);

        .item {
            height: var(--item-height/2);

            .caption {
                font-size: 1.25rem;
                font-weight: 600;
            }

            .tag {
                font-size: 1rem;
                color: var(--primary-color);
                font-weight: 600;
            }

            .view-item {
                font-size: 1rem;
                color: var(--primary-color);
                font-weight: 600;
                display: block;
                transition: all 0.5s ease;
                &:hover {
                    color: var(--secondary-color);
                }
            }
        }

        .item:nth-of-type(even) {
            transform: translateY(calc(35% + var(--gap) / 2));
            text-align: end;

            .view-item {
                justify-content: end;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .projects {
        --gap: 2rem;
        --item-height: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--gap);

        .item {
            height: var(--item-height/2);

            .caption {
                font-size: 1.5rem;
            }

            .tag {
                font-size: 1rem;
            }

            .view-item {
                font-size: 1rem;
            }
        }

        .item:nth-of-type(even) {
            transform: translateY(0);

        }
    }
}


/*------------------------------------*\
  #TEAM
\*------------------------------------*/

.team {
    .title {
        font-weight: 800;
        font-size: 3rem;
        color: var(--secondary-color);
    }


    .slider-container {
        position: relative;

        .slider-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            .custom-prev {
                height: 2rem;
                width: 2rem;
                background-color: rgba(16, 16, 16, 0.3);
                cursor: pointer;
            }

            .custom-next {
                height: 2rem;
                width: 2rem;
                background-color: rgba(16, 16, 16, 0.3);
                cursor: pointer;
            }
        }

        .team-member {

            .img-container {
                width: 100%;
                padding-top: 120%;
                background-color: #343535;
                position: relative;
                transition: all 0.5s ease;

                img {
                    position: absolute;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                .about {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    bottom: 0;
                    text-align: center;
                    background-color: rgba(16, 16, 16, 0.2);
                    opacity: 0;
                    transition: all 0.2s ease;

                    .name {
                        font-size: 2rem;
                        font-weight: 600;
                    }

                    .designation {
                        font-size: 1.2rem;
                        font-weight: 300;
                    }

                    .email {
                        font-size: 1.2rem;
                        font-weight: 300;
                    }
                }
            }

            .slider-btn {
                position: absolute;
                top: 50%;

            }

        }

    }


    .slider-center {
        max-width: 100%;
    }


    .slick-center {
        .img-container {
            width: 100%;
            padding-top: 110%;
            background-color: #444343;
            position: relative;
            background-image: url(../assets/team-bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transform: scale(1.1);

            .about {
                opacity: 1 !important;
                transition: all 0.5s ease;
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .team {
        .title {
            font-weight: 600;
            font-size: 2rem;
        }

        .team-member {

            .img-container {

                .about {

                    .name {
                        font-size: 1.25rem!important;
                        font-weight: 500;
                    }

                    .designation {
                        font-size: 0.8rem;
                        font-weight: 300;
                    }

                    .email {
                        font-size: 0.8rem;
                        font-weight: 300;
                    }
                }
            }

        }
    
    
    }
}

/*------------------------------------*\
  #CLIENT
\*------------------------------------*/
.client-bg {
    background-color: #fff;
    background-image: url(../assets/client-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.client {
    padding: 10rem 0;

    .title {
        font-size: 1.5rem;
        font-weight: 600;
        color: #929292;
        text-transform: uppercase;

    }

    .sub-title {
        margin-top: 1.5rem;
        font-size: 2.75rem;
        font-weight: 800;
        color: var(--primary-color);
    }

    .description {
        margin-top: 2.5rem;
        font-size: 2.25rem;
        font-weight: 500;
        color: #244459;
    }

    .contact-us {
        margin-top: 2rem;
        font-size: 1.5rem;
        color: #244459;
        font-weight: 600;
    }

    .logo-container {
        border: 1px solid #DADADA;
        width: 10rem;
        height: 10rem;

        .client-logo {
            img {
                filter: grayscale(100%);
                transition: all 0.3s ease;
                max-width: 100%;
                height: 70px;
            }

            .logo-caption {
                color: #244459;
                font-size: 0.75rem;
                display: none;
                opacity: 0;
                transition: all 0.2s ease;
            }
        }

        &:hover {
            .client-logo {
                img {
                    filter: grayscale(0);
                    transition: all 0.2s ease;
                }

                .logo-caption {
                    display: block;
                    opacity: 1;
                }
            }
        }

    }

}

@media screen and (max-width: 576px) {
    .client {
        padding: 5rem 0;

        .title {
            font-size: 1rem;

        }

        .sub-title {
            font-size: 2.25rem;
        }

        .description {
            font-size: 1.5rem;
        }

        .contact-us {
            font-size: 1.25rem;
        }
        .logo-container {
            border: 1px solid #DADADA;
            width: 6.5rem;
            height: 6.5rem;
    
            .client-logo {
                img {
                    filter: grayscale(100%);
                    transition: all 0.3s ease;
                    height: 2.5rem;
                }
    
                .logo-caption {
                    color: #244459;
                    font-size: 0.75rem;
                    display: none;
                    opacity: 0;
                    transition: all 0.2s ease;
                }
            }
    
            &:hover {
                .client-logo {
                    img {
                        filter: grayscale(0);
                        transition: all 0.2s ease;
                    }
    
                    .logo-caption {
                        display: block;
                        opacity: 1;
                    }
                }
            }
    
        }

    }
}

/*------------------------------------*\
  #CONTACT US
\*------------------------------------*/
.contact-bg {
    padding: 5rem 0;
    background-image: url(../assets/contact-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.contact {
    background-color: rgba(28, 28, 28, 0.9);
    padding: 5rem;
    border-radius: 2rem;

    .contact-text {
        .title {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--secondary-color);
            text-transform: uppercase;
    
        }
    
        .sub-title {
            margin-top: 1.5rem;
            font-size: 2.75rem;
            font-weight: 800;
            color: var(--primary-color);
        }
    
        .description {
            margin-top: 2.5rem;
            font-size: 2.25rem;
            font-weight: 500;
            color: var(--secondary-color);
        }
    }

    .contact-form {
        
        .title {
            font-size: 2rem;
            font-weight: 600;
            color: var(--primary-color);
        }

        ::placeholder {
            color: #244459;
        }

        .send-btn {
            background-color: var(--primary-color);
            color: #fff;
            font-weight: 600;
            font-size: 1.25rem;
        }

        textarea {
            min-height: 15rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .contact {
        padding: 1rem;
        border-radius: 1.5rem;

        .contact-text {
        
            .description {
                margin-top: 2.5rem;
                font-size: 1.75rem;
                font-weight: 500;
                color: var(--secondary-color);
            }
        }

        .contact-form {
            .title {
                font-size: 1.75rem;
            }

            .send-btn {
                background-color: var(--primary-color);
                color: #fff;
                font-weight: 600;
                font-size: 1.25rem;
            }
        }
    }
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
    padding-top: 5rem;

    ul li a {
        text-decoration: none;
        color: var(--secondary-color);
        font-size: 1.75rem;
        font-weight: 600;
        transition: all 0.2s ease;

        &:hover {
            color: var(--primary-color);
            transform: scale(1.1);
        }
    }

    .logo {
        height: 60px;
        max-width: 100%;
    }

    .address {
        p {
            font-size: 1.25rem;
            font-weight: 600;
        }

        .social-icon {
            text-decoration: none;
            color: var(--secondary-color);
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 5px;
            font-size: 1rem;
            background-color: var(--primary-color);
        }
    }

    .copyright {
        font-weight: 600;
    }
}

@media screen and (max-width: 576px) {
    .footer {
        padding-top: 0;

        ul li a {
            font-size: 1.25rem;
        }

        .logo {
            height: 45px;
        }

        .address {
            p {
                font-size: 0.9rem;
                font-weight: 600;
            }

            .social-icon {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 5px;
                font-size: 1rem;
                background-color: var(--primary-color);
            }
        }
    }
}

/*------------------------------------*\
  #BACK TO TOP BUTTON
\*------------------------------------*/

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    color: var(--dark);
    transition: opacity 0.5s ease-in-out;
}

#back-to-top .back-to-top-btn {
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.3);
}





/*------------------------------------*\
  #ALL WORKS PAGES
\*------------------------------------*/


.project-all {
    .item {
        margin-bottom: 8rem;

        img {
            height: 25rem;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
        }

        .caption {
            font-size: 1.75rem;
            font-weight: 600;
        }

        .tag {
            font-size: 1.2rem;
            color: var(--primary-color);
            font-weight: 600;
        }

        .description {
            font-size: 1.2rem;
        }

        .view-item {
            font-size: 1.2rem;
            color: var(--primary-color);
            font-weight: 600;
            display: block;
            transition: all 0.5s ease;
            &:hover {
                color: var(--secondary-color);
            }
        }

    }

    .item:nth-of-type(even) {
        transform: translateY(calc(35% + var(--gap) / 2));
        text-align: end;

        .view-item {
            justify-content: end;
        }
    }
}

// Work details

/*------------------------------------*\
  # WORK DETAILS PAGE
\*------------------------------------*/

.work-details {
    .view-all {
        font-size: 1.2rem;
        color: var(--primary-color);
        font-weight: 600;
        display: block;
        text-decoration: none;

        &:hover {
            color: var(--secondary-color);
        }
    }

    .heading {
        font-size: 3rem;
        font-weight: 600;
    }

    .tag {
        font-size: 1.2rem;
        color: var(--primary-color);
        font-weight: 600;
    }

    .date {
        font-size: 1.2rem;
        color: var(--primary-color);
        font-weight: 600;
    }

    .description {
        p {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    .side-link {
        font-size: 1.2rem;

        a {
            text-decoration: none;
            color: var(--primary-color);
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 768px) {
    .work-details {
        .heading {
            font-size: 2rem;
        }
        .tag {
            font-size: 1rem;
        }
    
        .date {
            font-size: 1rem;
        }
    
    }
}

/*------------------------------------*\
  # OBJECTIVE
\*------------------------------------*/

.objectives {
    .title {
        font-size: 3.75rem;
        font-weight: 600;
    }

    .sub-title {
        font-size: 1.75rem;
        font-weight: 600;
    }

    .description {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .gallery {
        .img-01 {
            width: 100%;
            padding-top: calc(65%);
            background-color: #ffa7a7;
            border-radius: 10px;
            position: relative;

            img {
                position: absolute;
                top: 0;
                height: 100%;
                left: 0;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        .img-02 {
            width: 100%;
            padding-top: calc(50%);
            background-color: #ffa7a7;
            border-radius: 10px;
            position: relative;
            img {
                position: absolute;
                top: 0;
                height: 100%;
                left: 0;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

    }
}

@media screen and (max-width: 768px) {
    .objectives {
        .title {
            font-size: 2.5rem;
        }
    
        .sub-title {
            font-size: 1.5rem;
        }
    
        .description {
            font-size: 1.2rem;
        }
    
    }
}

/*------------------------------------*\
  # OTHER WORKS
\*------------------------------------*/

.other-works {
    .title {
        font-size: 2.75rem;
        font-weight: 600;
    }

    .sub-title {
        font-size: 1.75rem;
        font-weight: 600;
        color: var(--primary-color);
    }

    .item {
        .caption {
            font-size: 1.75rem;
            font-weight: 600;
        }

        .tag {
            font-size: 1.2rem;
            color: var(--primary-color);
            font-weight: 600;
        }

        .view-item {
            font-size: 1.2rem;
            color: var(--primary-color);
            font-weight: 600;
            display: block;
            transition: all 0.5s ease;
            &:hover {
                color: var(--secondary-color);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .other-works {
        .title {
            font-size: 2rem;
        }
    
        .sub-title {
            font-size: 1.25rem;
        }
    
        .item {
            .caption {
                font-size: 1.25rem;
            }
    
            .tag {
                font-size: 1rem;
            }
    
            .view-item {
                font-size: 1rem;
            }
        }
    }
}